<html>
<head>
</head>
<body>
  <h2>ALL THE EVENTS</h2>
  <ul>
  {{#events}}
    <li><a href="https://github.com/{{r}}">{{r}}</a> by <a href="https://github.com/{{u}}">{{u}}</a></li>
  {{/events}}
  </ul>
</body>
</html>
